Updater:
  update_inter: 180
  verbosity: INFO
  percent_resolution: 10000

Node:
  signing_key: node3.skey
  verification_key: node3.vkey
  oracle_curr: 2e527c8e42d0f28fd3f4025f60c0a89bc5815c8e2efc3fb973e3fc20
  node_nft: NodeFeed
  aggstate_nft: AggState
  oracle_nft: OracleFeed
  oracle_addr: addr_test1wz6jdu4f0eeamgzz2a8wt3eufux33nv6ju35z6r4de5rl0sncyqgh
  c3_token_hash: 436941ead56c61dbf9b92b5f566f7d5b9cac08f8c957f28f0bd60d4b
  c3_token_name: PAYMENTTOKEN

ChainQuery:
  network: TESTNET
  base_url: https://cardano-preprod.blockfrost.io/api
  project_id: preprodp2R0hMUamkdkt0x8BKky2QWghU2zOXcz

Rate:
  binance:
    type: binance
    symbol: ADAUSDT
  kucoin:
    type: generic
    symbol: ADA-USDT
    api_url: https://api.kucoin.com/
    path: /api/v1/prices?currencies=ADA
    json_path: ["data","ADA"]
    key: {}
  kraken:
    type: generic
    symbol: ADAUSD
    api_url: https://api.kraken.com
    path: /0/public/Ticker?pair=ADAUSD
    json_path: ["result","ADAUSD","o"]
    key: {}

# awslogger:
#   region_name: us-west-1
#   aws_access_key_id: ***REMOVED***
#   aws_secret_access_key: ***REMOVED***
#   delivery_stream_name: PUT-S3-Charli3-logs