name: Build and push Docker Image to GAR

on:
  push:
    branches: 
      - develop
  release:
    types: [published]
    branches: 
      - main
      - indigo

jobs:
  build-and-push:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - id: auth
      name: Authenticate with Google Cloud
      uses: google-github-actions/auth@v1
      with:
        workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
        service_account: ${{ secrets.GCP_SERVICE_ACCOUNT }}

    - name: Configure Docker with GCloud credentials
      shell: bash
      run: gcloud auth configure-docker us-central1-docker.pkg.dev

    - name: Determine Tags
      id: determine-tags
      run: |
        if [ "${{ github.ref }}" = "refs/heads/develop" ]; then
          echo "::set-output name=tags::develop"
        elif [ "${{ github.ref }}" = "refs/heads/main" ] && [ "${{ github.event_name }}" = "release" ]; then
          echo "::set-output name=tags::latest,${{ github.event.release.tag_name }}"
        elif [ "${{ github.ref }}" = "refs/heads/indigo" ] && [ "${{ github.event_name }}" = "release" ]; then
          echo "::set-output name=tags::latest-indigo,${{ github.event.release.tag_name }}"
        fi

    - name: Build, tag, and push Docker image to GAR
      uses: docker/build-push-action@v4
      with:
        push: true
        tags: us-central1-docker.pkg.dev/charli3-mainnet/node-operator-backend/node-operator-backend:${{ steps.determine-tags.outputs.tags }}
