name: Build and push Docker Image to GAR

on:
  push:
    branches:
      - develop
  release:
    types: [published]
    branches:
      - main
      - indigo

jobs:
  build-and-push:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - id: auth
      name: Authenticate with Google Cloud
      uses: google-github-actions/auth@v1
      with:
        workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
        service_account: ${{ secrets.GCP_SERVICE_ACCOUNT }}

    - name: Configure Docker with GCloud credentials
      shell: bash
      run: gcloud auth configure-docker us-central1-docker.pkg.dev

    - name: Get tag/ref
      id: get-tag
      run: echo "::set-output name=short_ref::${GITHUB_REF#refs/*/}"

    - name: Build, tag, and push Docker image to GAR
      if: github.event_name == 'release'
      uses: docker/build-push-action@v4
      with:
        push: true
        tags: |
          us-central1-docker.pkg.dev/charli3-mainnet/node-operator-backend/node-operator-backend:${{ steps.get-tag.outputs.short_ref }}
          ${{ endsWith(steps.get-tag.outputs.short_ref, '-indigo') && 'us-central1-docker.pkg.dev/charli3-mainnet/node-operator-backend/node-operator-backend:latest-indigo' || '' }}
          ${{ !endsWith(steps.get-tag.outputs.short_ref, '-indigo') && 'us-central1-docker.pkg.dev/charli3-mainnet/node-operator-backend/node-operator-backend:latest' || '' }}

    - name: Build, tag as develop, and push Docker image to GAR
      if: github.ref == 'refs/heads/develop'
      uses: docker/build-push-action@v4
      with:
        push: true
        tags: us-central1-docker.pkg.dev/charli3-mainnet/node-operator-backend/node-operator-backend:develop
