# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on: [push]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
    - uses: actions/checkout@v3
    
    - name: Setup SSH for private repositories
      uses: webfactory/ssh-agent@v0.9.0
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
    
    - name: Install poetry
      run: pipx install poetry
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'poetry'
    - name: Install dependencies
      run: |
        poetry install
    - name: Test with pytest
      env:
        DBSYNC_HOST: ${{ secrets.DBSYNC_HOST }}
        DBSYNC_PORT: ${{ secrets.DBSYNC_PORT }}
        DBSYNC_DB_NAME: ${{ secrets.DBSYNC_DB_NAME }}
        DBSYNC_USER: ${{ secrets.DBSYNC_USER }}
        DBSYNC_PASS: ${{ secrets.DBSYNC_PASS }}
        AXO_API_KEY: ${{ secrets.AXO_API_KEY }}
      run: |
        poetry run pytest
    - name: Send job status to Slack workflow
      id: slack
      uses: slackapi/slack-github-action@v1.23.0
      with:
        payload: |
          {
            "text": "GitHub Action build result: ${{ job.status }}\nURL: ${{ github.event.pull_request.html_url || github.event.head_commit.url }}\n user: ${{ github.actor }}",
            "blocks": [
              {
                "type": "section",
                "text": {
                  "type": "mrkdwn",
                  "text": "GitHub Action build result: ${{ job.status }}\nURL: ${{ github.event.pull_request.html_url || github.event.head_commit.url }}\n user: ${{ github.actor }}"
                }
              }
            ]
          }
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
